{% extends "cms/../base.html" %}

{% block title %}TRACK LIST FOR YOU{% endblock title %}

{% block extrahead %}
    <style>
        table {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="page-header">君が今年走った記録が見れるページだよ
        <br>もっと頑張れるんじゃない？</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>合計距離</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sum_distance }} km</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'cms:track_add' %}" class="btn btn-default btn-sm">追加</a>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>走行距離</th>
            <th>日付</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track.distance }}</td>
                <td>{{ track.date }}</td>
                <td>
                    <a href="{% url 'cms:track_mod' track_id=track.id %}" class="btn btn-default btn-sm">編集</a>
                    <a href="{% url 'cms:track_del' track_id=track.id %}" class="btn btn-default btn-sm">削除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}