{% extends "cms/../base.html" %}
{% load bootstrap %}

{% block title %}TRACK{% endblock title %}

{% block content %}
    <h3 class="page-header">走った分を記録したり編集したりする画面だよ
    <br>別に嘘を書いてもいいけど、嘘つきは泥棒の始まりだからね</h3>
    {% if track_id %}
    <form action="{% url 'cms:track_mod' track_id=track_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'cms:track_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:track_list' %}" class="btn btn-default btn-sm">戻る</a>

{% endblock content %}